{% extends 'base.html' %}

{% block css %}

<link href="{{ url_for('static', filename='vendor/css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Welcome to</h1>
                <h2>Personal Assistant Manager!</h2>
                {% if not auth %}
                <p>
                    To start working with me Log In or Sign Up first :)
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="\registration">
                        Sign Up
                    </a>
                </button>
                {% else %}
                <p>
                    Beta version :)
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="\contacts">
                        Open Address Book
                    </a>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}